@page
@model PokeBinder.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login/Register</h1>

<p>
    Enter your email and you will receive a link to log in. This is a passwordless login system, so no password is required.
</p>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <button type="submit">Log in</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
